<div class="alert alert-primary" role="alert">
    
  

    <h2>Nesta API voce pode Procurar os Git de sua Preferencia</h2>

    <nav class="navbar-light bg-light">

        <form 
            #busqueda="ngForm" 
            class="form-inline"
            ngSubmit="onSubmit(busquedaForm)"
            >

            <input class="form-control" type="text" >

            <button type="button" class="btn btn-primary btn-lg btn-block">Busqueda</button>

        </form>

        

    </nav>

 
</div>
  <img src="https://developers.giphy.com/branch/master/static/api-c99e353f761d318322c853c03ebcf21b.gif" class="img-fluid" alt="Responsive image" height="400px" width="100%">
    

